
<div><strong>API URL:</strong>&nbsp;
    <a target="_blank" href="<%= api %>"><%= api %></a>
</div>

<div style='word-wrap:break-word; margin-top: 20px'>
    <div id="copy-access-token-message" class="copy-token-messages">Access token has been copied</div>
    <strong>Access-JWT:</strong>&nbsp;
    <div id="access-jwt" style='word-wrap:break-word; margin-top: 10px; background-color:#f9f9f9;' onclick="copyAccessToken(this)" data-toggle="tooltip" title="Click to copy" data-placement="right"><%= accessToken %></div>
</div>
<div style='word-wrap:break-word; margin-top: 20px'>
    <div id="copy-refresh-token-message" class="copy-token-messages">Refresh token has been copied</div>
    <strong>Refresh-JWT:</strong>&nbsp;
    <div id="refresh-jwt" style='word-wrap:break-word; margin-top: 10px; background-color:#f9f9f9;' onclick="copyRefreshToken(this)" data-toggle="tooltip" title="Click to copy" data-placement="right"><%= refreshToken %></div>
</div>
<div style="
    color: #ff671b;
    font-style: italic;
    font-size: smaller;
    margin-top: 20px
">Keep your JWTs in secret. Do not share.</div>
<br/>
<div><strong>Network Name:</strong>&nbsp;<%= network.name %></div>


<br/>
<div><strong>Admin Console:</strong>&nbsp;
    <a target="_blank" href="<%= admin %>?deviceHiveRefreshToken=<%= refreshTokenEncoded %>&deviceHiveToken=<%= accessTokenEncoded %>#devices"><%= admin %></a>
</div>
<div><strong>Dashboard:</strong>&nbsp;
    <a target="_blank" href="<%= dashboard %>"><%= dashboard %></a>
</div>
<div><strong>API Console:</strong>&nbsp;
    <a target="_blank" href="<%= swagger %>"><%= swagger %></a>
</div>

<br/>

<h5 style="text-align: left">Register Device using cURL:</h5>
<code style="word-wrap:break-word; display:block;white-space:pre-wrap; text-align: left; color: #666; background-color: inherit;">curl -X PUT \
    -H "Authorization: Bearer <%= accessToken %>" \
    -H "Content-Type: application/json" \
    -d '{"name" : "<%= uniqueDeviceName %>"}' \
    '<%= api %>/device/<%= uniqueDeviceName %>'
</code>
