<div><strong>Admin Console:</strong>&nbsp;
	<a href="<%= admin %>"><%= admin %></a>
</div>
<div><strong>API Console:</strong>&nbsp;
	<a href="<%= swagger %>"><%= swagger %></a>
</div>
<div><strong>API URL:</strong>&nbsp;
	<a href="<%= api %>"><%= api %></a>
</div>
<div><strong>Access Key:</strong>&nbsp;<%= accessKey %></div>